html {
    background-color: #363636;
    font-size: 15px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Roboto Mono", monospace; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    color: azure 
  }

h1 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size:15px;
    line-height: 2;
    letter-spacing: 1px;
}