body {
  background-color: #06011A;
  font-family: 'Zen Kurenaido', sans-serif;
  color: white;
  font-size: 17px;
}

section {
  background-color: #564b80f0;
  padding: 10px;
  height: 300px;
  width: 75%;
  /* width: 50vw;
  height: 50vh; */
  margin: auto;
  margin-top: 20%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(139, 169, 138, 0.275);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 166, 102, 0.313);
}

/* bloco 1 da interface */

div#submitName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bloco 2 da interface */

div#welcome {
  width: 215px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div#contin {
  width: 215px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  display: none;
}

/* input do nome do usuario */

input {
  outline: 0;
  border: none;
  padding: 5px;
  font-family: 'Andale Mono';
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(50, 50, 50);
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.481);
}

input::placeholder {
  font-size: 13px
}

/* botão */

button.flex-item {
  padding: 6px;
  margin-right: 75px;
  border: none;
  border: 1px solid rgb(50, 50, 50);
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.481);
  border-radius: 3px;
  /* outline: #06011A; */
}

button:hover {
  color: rgb(134, 196, 123);
  background: -webkit-linear-gradient(rgb(92, 59, 113), rgb(134, 196, 123));
  cursor: pointer;
}

a.botao {
  padding: 2px;
  text-decoration: none;
  color: black;
}

a.botao2 {
  padding: 5px;
  text-decoration: none;
  color: black;
}

/* itens da interface */

.flex-item {
  margin: 3px;
  padding: 3px;
}

/* textos da interface */

p {
  text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.859);
}

/* relogio em tempo real */

div.horario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
}
span.clock {
  color: rgb(139, 255, 139);
  font-family: 'Verdana';
  font-size: 12px;
  text-shadow: 2px 2px 2px rgba(177, 255, 158, 0.182);
}