* {
    background-color: Indigo;
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    color: MintCream; 
  }

h1 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size:15px;
    line-height: 2;
    letter-spacing: 1px;
}
