/*         GENERAL RULES        */
:root {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

/* themes functionality */
html {
  --background-color: #1B1A17;
  --color: #E6D5B8;
  --color_hover: #E6D5B8;
  --cor2: #1B1A17;
  --cor2_transparente: rgba(177, 198, 195, 0.187);
  --destaque: #E45826;
}

html[data-theme="light"] {
  --background-color: #E6D5B8;
  --color: #06011A;
  --color_hover: #06011ab0;
  --cor2: #E6D5B8;
  --cor2_transparente: rgb(255, 255, 255);
  --destaque: #F0A500;
}



/* scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* navigation bar */


#nav-bar {
  position: fixed; 
  top: 0px; 
  left: 0px;
  right: 0px;
  z-index: 9998; 
  /* width: 100%;  */
  /* height: 50px;  */
  background-color: var(--cor2);
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s linear;
  padding: 12px;
}

ul {
  margin: 0px;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  display: flex;
  text-decoration: none;
  color: var(--color);
  padding: 10px;
  margin-right: 10px;
}
a.pages {
  border: 2px solid var(--color);
  border-radius: 5px;
}
a.pages:hover {
  /* background-color: var(--cor2_transparente); */
  box-shadow: inset 0px 0px 14px 0.01px var(--color_hover);
  transition: ease-in 0.2s;
}



/* theme toggle */


div#themeSwitch {
  margin: 0;
  padding: 0;
  align-items: center;
  /* top right bottom left */
  margin: auto auto auto 16px;
}

input#toggle-theme {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.switch {
  /* position: relative; */
  padding: 7px;
  display: block;
  width: 50px;
  height: 18px;
  background-color: var(--color);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.3s;
  border: 2px solid var(--color);
}
.switch:hover {
  background-color: #E45826;
  /* border: 2px solid #E45826; */
  border: 2px solid var(--color);
}

input#toggle-theme:checked ~ .switch{
  background: var(--background-color);
}
input#toggle-theme:checked ~ .switch:hover {
  background-color: var(--destaque);
  border: 2px solid var(--color);
  color: var(--cor2);
}
.fas {
  color: black;
  font-size: 19px;
}
.fa-sun {
  transform: translateX(30px);
  opacity: 0;
  transition: 0.3s;
}
.fa-moon {
  transform: translateX(5px);
  transition: 0.3s;
}
input#toggle-theme:checked ~ .switch > .fa-moon {
  opacity: 0;
  transform: translateX(0px);
}
input#toggle-theme:checked ~ .switch > .fa-sun {
  opacity: 1;
  transform: translateX(3px);
  /* color: var(--destaque); */
}

/* footer */

footer {
  background-color: var(--background-color);
  position: fixed;
  z-index: 9997;
  padding: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s linear;
}

ul.links {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
a.links {
  margin: 0;
  padding: 10px;
}
.fa-brands {
  font-size: 20px;
}
a.links:hover {
  color: var(--destaque);
  transition: ease-in 0.2s;
}




body {
  background-color: var(--background-color);
  color: var(--color);
  transition: all 0.3s linear;
  margin: 0;
}

section {
  margin: 80px 10px 10px 10px;
}

p {
  margin: 0;
}
  



/* responsiveness */

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  nav-bar {
    position: fixed; 
    top: 0px; 
    left: 0px;
    right: 0px;
    z-index: 9998; 
    /* width: 100%;  */
    /* height: 50px;  */
    background-color: var(--cor2);
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s linear;
    padding: 10px;
  }
  ul.pagess {
    padding: 3px;
  }
  a {
    display: flex;
    text-decoration: none;
    color: var(--color);
    padding: 5px;
    margin-right: 6px;
    margin-top: 3px;
    font-size: 13px;
  }
  a.pages {
    border: 2px solid var(--color);
    border-radius: 5px;
  }
  div#themeSwitch {
    margin: 5px;
    margin-right: 20px;
  }
}

